<h1>Editing User Profile Info</h1>

<%= form_for @user, url: wizard_path do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
  
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="fields">
    <%=form.fields_for :address do |a| %>
        <div class="field">
            <label>Street address </label>
            <%= a.text_field :street_address, id: :street_address %>
        </div>
        <div class="field">
            <label>City </label>
            <%= a.text_field :city, id: :city %>
        </div>
        <div class="two wide field">
            <label>State </label>
            <%=a .text_field :state, id: :state %>
        </div>

        <div class="field">
            <label>Zip </label>
            <%= a.number_field :zip_code, id: :zip_code %>
        </div>
    </div>
    <%end%>
  
    <div class="actions">
      <%= form.submit %>
      <%= link_to 'Skip this step', next_wizard_path %>
    </div>
  <% end %>
  