<p id="notice"><%= notice %></p>

<p>
  <strong>Organisation:</strong>
  <%= @umbrella_boddy.organisation %>
</p>

<p>
  <strong>Meetingday:</strong>
  <%= @umbrella_boddy.meetingDay %>
</p>

<p>
  <strong>Feastday:</strong>
  <%= @umbrella_boddy.feastDay %>
</p>

<p>
  <strong>Patronsaint:</strong>
  <%= @umbrella_boddy.patronSaint %>
</p>

<p>
  <strong>Motto:</strong>
  <%= @umbrella_boddy.motto %>
</p>

<p>
  <strong>Slogan:</strong>
  <%= @umbrella_boddy.slogan %>
</p>

<%= link_to 'Edit', edit_umbrella_boddy_path(@umbrella_boddy) %> |
<%= link_to 'Back', umbrella_boddies_path %>
